/*公共样式--开始*/
@charset "utf-8";
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei";
    font-size:16px;
    color:#333;
}

html,body{
     width: 100%;
     height: 100%;
     background: #f3eafb;
     -webkit-touch-callout: none; /*禁止或显示系统默认菜单*/
     -webkit-user-select: none; /*禁止长按复制选择*/
     -webkit-tap-highlight-color: rgba(0,0,0,0);/*禁止触摸a标签高亮 这个特别实用*/
}


